{

    "env": {

        "MONGO_USER": "",

        "MONGO_PASSWORD": "",

        "MONGO_DB": "",

        "PORT": 3000,

        "S3_ACCESS_KEY": "",

        "S3_SECRET_ACCESS_KEY": "",

        "S3_BUCKET_REGION": "",

        "S3_BUCKET_NAME": ""

    }

}